.cache/spotify/Browser/b11981bfa71efec370f504a90c0bcef520f6d136/Network Persistent State
.cache/spotify/Browser/b11981bfa71efec370f504a90c0bcef520f6d136/TransportSecurity
.local/share/gvfs-metadata/home-5b87d5d7.log
.config/spotify/Users/22g7f62emclxjruubtap3lawi-user/pending-messages
.mozilla/firefox/uhlnc4rd.default-release/datareporting/aborted-session-ping
.var/app/com.visualstudio.code/config/user-dirs.dirs
.var/app/com.visualstudio.code/config/Code/Cache/Cache_Data/3a74e4d1d519daa5_0
.var/app/com.visualstudio.code/config/Code/Cache/Cache_Data/84de6ca1f7e3d702_0
.var/app/com.visualstudio.code/config/Code/Cache/Cache_Data/3146b5ee6e83df43_0
.var/app/com.visualstudio.code/config/Code/Cache/Cache_Data/a2cb45062f42e12c_0
.var/app/com.visualstudio.code/config/Code/Cache/Cache_Data/a97c96d98c7c4739_0
.var/app/com.visualstudio.code/config/Code/Cache/Cache_Data/cba540388b6fe01a_0
.var/app/com.visualstudio.code/config/Code/Cache/Cache_Data/e9c8c824d0896af5_0
.var/app/com.visualstudio.code/config/Code/Cache/Cache_Data/index-dir/the-real-index
.var/app/com.visualstudio.code/config/Code/CachedData/c3511e6c69bb39013c4a4b7b9566ec1ca73fc4d5/configurationEditingMain-87fbc44a347099e327361415b949187a.code
.var/app/com.visualstudio.code/config/Code/CachedData/c3511e6c69bb39013c4a4b7b9566ec1ca73fc4d5/extensionEditingMain-0a53b233612581baac004d58ee0e23d5.code
.var/app/com.visualstudio.code/config/Code/CachedData/c3511e6c69bb39013c4a4b7b9566ec1ca73fc4d5/jsonClientMain-52d8617a8adf28a5d3fa4cc7dc8b87dc.code
.var/app/com.visualstudio.code/config/Code/CachedData/c3511e6c69bb39013c4a4b7b9566ec1ca73fc4d5/chrome/js/9fb3e4f55577b8e0_0
.var/app/com.visualstudio.code/config/Code/CachedData/c3511e6c69bb39013c4a4b7b9566ec1ca73fc4d5/chrome/js/index-dir/the-real-index
.var/app/com.visualstudio.code/config/Code/User/History/-434e24aa/entries.json
.var/app/com.visualstudio.code/config/Code/User/History/7f768f03/6lQB
.var/app/com.visualstudio.code/config/Code/User/History/7f768f03/entries.json
.var/app/com.visualstudio.code/config/Code/User/History/7f768f03/Grpr
.var/app/com.visualstudio.code/config/Code/User/History/7f768f03/qxW2
.var/app/com.visualstudio.code/config/Code/User/History/7f768f03/X3LK
.var/app/com.visualstudio.code/config/Code/User/globalStorage/storage.json
.var/app/com.visualstudio.code/config/Code/logs/20220618T202829/exthost1/output_logging_20220618T202832/6-JSON Language Server.log
.cache/spotify/Browser/Network Persistent State
.cache/spotify/Browser/Cache/Cache_Data/7cd3cabe6a81623c_0
.cache/spotify/Browser/b11981bfa71efec370f504a90c0bcef520f6d136/Cache/Cache_Data/2ff7d5b299e4d48c_0
.cache/spotify/Browser/b11981bfa71efec370f504a90c0bcef520f6d136/Cache/Cache_Data/b105d31fe43433ac_0
.cache/spotify/Browser/b11981bfa71efec370f504a90c0bcef520f6d136/Cache/Cache_Data/d890b44c37f60f22_0
.cache/spotify/Data/26/2682e6709bc2d07c6f86657113d17024dcc6d8f3.file
.cache/spotify/Data/a2/a25510554c6138b9db373b75f03e9cfc9c7966d7.file
.cache/spotify/Users/22g7f62emclxjruubtap3lawi-user/context_player_state_restore
.local/share/gvfs-metadata/home
.mozilla/firefox/uhlnc4rd.default-release/AlternateServices.txt
.config/spotify/Users/22g7f62emclxjruubtap3lawi-user/ad-state-storage.bnk
.config/spotify/Users/22g7f62emclxjruubtap3lawi-user/pending-messages_seq_nr
.cache/spotify/Browser/b11981bfa71efec370f504a90c0bcef520f6d136/Cache/Cache_Data/index-dir/the-real-index
.cache/spotify/Browser/Cache/Cache_Data/index-dir/the-real-index
.cache/spotify/Browser/TransportSecurity
