.top {
    width:414px;
    height:92px;
    background-color: #CF2B2B;
    position: fixed;
}

.top h1 {
    font-size: 44px;
    color: #FFFFFF;
    margin: 10px 0px 5px 15px 
}

.top p {
    font-size: 18px;
    color: #ffffff;
    margin: -5px  0px 0px 16px
}