* {
    box-sizing: border-box;
  }

  

body img {
    height: 80px;
    width: 150px;
    margin: 5px;
}

.tudo {

}

.top {
    width:100%;
    height:92px;
    background-color: #CF2B2B;
    position: fixed;
    top:0;
    left:0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Righteous', cursive;
}

.top h1 {
    font-size: 44px;
    color: #FFFFFF;
    margin: 10px 0px 5px 15px 
}

.top p {
    font-size: 18px;
    color: #ffffff;
    margin: -5px  0px 0px 16px
}


.produtos {
    margin-top: 92px;
    background-color: #E5E5E5;
    height:670px;
    width: 100%;
}
.titulolinha {margin-left: 17px;
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;}

.comidalinha, .bebidalinha, .sobremesalinha {
    display: flex;
    overflow-x:scroll;
}

.produto {
    width: 173px;
    height: 216;
    border-radius: 9px;
    background-color: #FFFFFF;
    margin-left: 15px;
    margin-top:5px;
    font-family: "Encode Sans", sans-serif;
    font-family: "Roboto", sans-serif !important;
}   

.borda {
    border: solid 5px #32b72f;
    padding: 9px;
}

.ok
{display:initial;
}



.produto img {
}

.produto h1 {
font-size: 16px;
font-weight: bold;
margin-left: 15px;
}

.produto h2 {
    margin: 5px 0px 5px 15px;
    font-size: 15px;
    color: #A6A6A6;
    }

.produto h3 {
    margin-left: 15px;
    font-size: 16px;
    margin-bottom: 5px;
    font-size: bold;
}

.precoeverificado {display: inline-flex;}

.verificado {
    width: 19px;
    height: 19px;
    margin-top: 10px;
    margin-right: 5px;
    display: none;}
   
.bottom {
    display: flex;
    width: 100%;
    height: 92px;
    background-color: #FFFFFF;
    position: fixed;
    left: 1;
    bottom: 1;
    justify-content: center;
    align-items: center;
}

.pedidos {
    background-color: #CBCBCB;
    width: 364px;
    height: 61px;
    border-radius: 50px;
    font-size: 20px;

}

.pedidos p {
    color: #FFFFFF;

  
}

.habilitado {background: #32B72F;
    color: #FFFFFF;
}